# Compiled class file
*.class

/roles/*
/files/*
*.DS_store
/vagrant/.vagrant/*
*.iso
*.vdi
# Log file
*.log

# BlueJ files
*.ctxt

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.tar.bz2
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
